ul, ol{
    list-style: none;
    padding: 0;
}
a:link, a:visited{
    text-decoration: none;
}
.w-100{
    width: 100%;
}

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.justify-content-around{
    justify-content: space-around;
}






