<nav class="navbarSection">
  <div class="navbar d-flex justify-content-between">
    <form class="searchForm">
      <input type="search" id="search" placeholder="Search">
      <label for="search"><i class="fas fa-search"></i></label>
    </form>
    <ul class="navbarUl d-flex justify-content-between ">
      <li>
        <a href="javascript:;">ENG <i class="fas fa-sort-down caret"></i></a>
      </li>
      <li>
        <a href="javascript:;"><i class="far fa-comment-alt "></i><sup>.</sup></a>
      </li>
      <li>
        <a href="javascript:;"><i class="far fa-bell "></i><sup>.</sup></a>
      </li>
      <li class="logImg d-flex justify-content-between">
        <img src="../../../../assets/images/team-02.png" alt="img" class="avatar"> <a href="javascript:;">Camille Stevenson <i
            class="fas fa-sort-down caret"></i></a>
      </li>
    </ul>
  </div>
</nav>