@mixin scrollbar-mix{
    &.style-bar::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $bg-color-02;
        border-radius: 10px;
    }
    
    &.style-bar::-webkit-scrollbar
    {
        width: 10px;
        background-color: $bg-color-02;
    }
    
    &.style-bar::-webkit-scrollbar-thumb
    {
        background-color: $bg-color-03;
        border-radius: 10px;
        background-image: -webkit-linear-gradient(0deg,
                                                  rgba(255, 255, 255, 0.5) 25%,
                                                  transparent 25%,
                                                  transparent 50%,
                                                  rgba(255, 255, 255, 0.5) 50%,
                                                  rgba(255, 255, 255, 0.5) 75%,
                                                  transparent 75%,
                                                  transparent)
    }
}

